.my-body {
    //background: rgb(107, 255, 230);
}

.my-container {
   // border: 1px solid green;
    //width: 829px;
    //height: 490px;

}

.my-row {
  // border: 3px solid red;
    height: 80px;
    max-width: 600px;
    background-color: #BAA1A7;
}

.my-row2 {
    //border: 3px solid red;
     height: 45px;
     max-width: 600px;
    // background-color: #BAA1A7;
 }

.my-col {
   // border: 3px dotted blue;
}

.my-col2 {
   // border: 3px dotted blue;
    //height: 80px;
}